{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}

<h1>{{ product.name }}</h1>

{% include 'components/_product_card.html.twig' with { product: product } %}

<hr>

<h2>Choisir une taille</h2>

{{ form_start(form) }}
    {{ form_row(form.size) }}
    {{ form_row(form.quantity) }}
    {{ form_widget(form.productId, {'value': product.id}) }} {# important ! #}
    <button type="submit">Ajouter au panier</button>
{{ form_end(form) }}

{% endblock %}