{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# pour inclure le CSS global déjà présent #}
    
{% endblock %}

{% block content %}
<h1>Admin</h1>

<h1>Back-office</h1>

<div class="admin-container">

    {# Formulaire 1 : Ajouter un produit#}
    <section class="add-product">
        <h2>Ajouter un produit</h2>
         {{ form_start(addProductForm, {'attr': {'enctype': 'multipart/form-data'}}) }}

        {{ form_row(addProductForm.name) }}
        {{ form_row(addProductForm.price) }}
        {{ form_row(addProductForm.image) }} 
        {{ form_row(addProductForm.featured) }}
        {{ form_row(addProductForm.stockXS) }}
        {{ form_row(addProductForm.stockS) }}
        {{ form_row(addProductForm.stockM) }}
        {{ form_row(addProductForm.stockL) }}
        {{ form_row(addProductForm.stockXL) }}

        <button type="submit">Ajouter</button>

    {{ form_end(addProductForm) }}

</section>

    <hr>

    {# Formulaire 2 : Modifier / Supprimer produits #}
    <section class="manage-products">
        <h2>Gérer les produits existants</h2>
        {% for product in products %}
    <div class="product-item">
    {{ form_start(productForms[product.id], {'attr': {'enctype': 'multipart/form-data'}}) }}

        <h3>Modifier {{ product.name }}</h3>  

        {% if product.image %}
    <img src="{{ asset('images/' ~ product.image) }}" width="100" style="margin-bottom:10px;">
{% endif %}

        {{ form_row(productForms[product.id].name) }}
        {{ form_row(productForms[product.id].price) }}
        {{ form_row(productForms[product.id].image) }}
        {{ form_row(productForms[product.id].featured) }}
        {{ form_row(productForms[product.id].stockXS) }}
        {{ form_row(productForms[product.id].stockS) }}
        {{ form_row(productForms[product.id].stockM) }}
        {{ form_row(productForms[product.id].stockL) }}
        {{ form_row(productForms[product.id].stockXL) }}

        <input type="hidden" name="action_id" value="{{ product.id }}">

        <button type="submit" name="action" value="update">Modifier</button>
        <button type="submit" name="action" value="delete">Supprimer</button>

    {{ form_end(productForms[product.id]) }}
</div>
{% endfor %}
    </section>

</div>

{% endblock %}